<h1>{{title}}</h1>
<nav>
  <ul>
      <li><a href='/'>BLOG</a></li>
      <li><a href='/'>ARTICLES</a></li>
      <li><a href='/'>PHOTOGRAPHY</a></li>
      <li><a href='/'>ABOUT</a></li>
  </ul>
</nav>
